In [16]:
import pandas as pd

df = pd.read_csv('data/gapminder.tsv', sep='\t')

In [17]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [18]:
# 연도(year)를 기준으로 그룹화하고 인구(pop) 열의 도수분포표 생성
frequency_table = df.groupby('year')['pop'].sum().reset_index()

# 결과 출력
print(frequency_table)

    year         pop
0   1952  2406957150
1   1957  2664404580
2   1962  2899782974
3   1967  3217478384
4   1972  3576977158
5   1977  3930045807
6   1982  4289436840
7   1987  4691477418
8   1992  5110710260
9   1997  5515204472
10  2002  5886977579
11  2007  6251013179

In [19]:
# 행선택, 이름으로 접근

df.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [20]:
df.loc[[0, 10, 100, 1000]]

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
100    Bangladesh      Asia  1972   45.252  70759295   630.233627
1000     Mongolia      Asia  1972   53.754   1320500  1421.741975

In [21]:
# 행선택, 순서로 접근

df.iloc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [22]:
df.iloc[[0, 10, 100, 1000]]

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
100    Bangladesh      Asia  1972   45.252  70759295   630.233627
1000     Mongolia      Asia  1972   53.754   1320500  1421.741975

In [23]:
# 열선택

df['lifeExp']

0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1699    62.351
1700    60.377
1701    46.809
1702    39.989
1703    43.487
Name: lifeExp, Length: 1704, dtype: float64

In [24]:
df['lifeExp'].mean()

59.474439366197174

In [25]:
df['lifeExp'].max()

82.603

In [26]:
df['lifeExp'].min()

23.599

In [27]:
df['lifeExp'].median()

60.7125

In [28]:
df['lifeExp'].var()

166.851663976879

In [29]:
df['lifeExp'].std()

12.917107415241192

In [30]:
df['lifeExp'].describe()

count    1704.000000
mean       59.474439
std        12.917107
min        23.599000
25%        48.198000
50%        60.712500
75%        70.845500
max        82.603000
Name: lifeExp, dtype: float64